@model AYMDatingCore.PL.DTO.UserMainSearchDTO


<div class="romantic-search-bar py-3">
    <div class="container">
        <form asp-controller="Home" asp-action="Index" method="post" class="row g-2 align-items-center justify-content-center">

            <div class="col-md-2 col-6">
                <select asp-for="IwantGender" asp-items="Model.Genders" class="form-select romantic-input">
                    <option value="">Looking for...</option>
                </select>
            </div>

            <div class="col-md-2 col-6">

                <select asp-for="CountrySearch" asp-items="Model.Countries" class="form-select romantic-input">
                    <option value="">Country...</option>
                </select>
            </div>

            <div class="col-md-2 col-6">
                <input asp-for="City" class="form-control romantic-input me-2" placeholder="City..." />
            </div>

            <div class="col-md-2 col-6 d-flex align-items-center">
                <input asp-for="AgeFrom" class="form-control romantic-input me-2" placeholder="From" value="18" min="18" max="99" required />
                <input asp-for="AgeTo" class="form-control romantic-input" placeholder="To" min="18" value="99" max="99" required />
            </div>

            <div class="col-md-2 col-6 form-check d-flex align-items-center justify-content-center">
                <input asp-for="UserHasImage" class="form-check-input romantic-checkbox me-2" type="checkbox" />
                <label asp-for="UserHasImage" class="form-check-label">With photo</label>
            </div>

            <div class="col-md-2 col-6 text-center">
                <button type="submit" class="btn btn-love w-100">❤️ Search</button>
            </div>
        </form>
    </div>
</div>
